@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&family=Roboto:wght@300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    background-color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    font-weight: 400;
}

@media screen and (max-width: 500px)
{
    .mainContent{min-width: 100vw;}

}
@media screen and (max-width: 980px) and (min-width: 940px)
{
    #fito{display: none;}
    .myName::before{content:"Rodolfo";}
}

@media screen and (max-width: 940px)
{
    .hide{display: none;}
    .ic_Prop{min-width: 22px;}
    
    /* #fito{display: none;} */
    /* .myName::before{content:"Rodolfo";} */
    
}
@media screen and (max-width: 639px)
{
    #fito{display: none;}
    .myName::before{content:"Rodolfo";}
}
@media screen and (max-width: 1024px){.tipo_img{min-width: 50%;}}
/* imagenes hito 3 */
@media screen and (max-width: 912px)
{
    .tipo_img{min-width: 100%;}
    .color_guide img
    {
        content: url(../img/milestone3/color_movil.png);
        /* border: 1px solid red; */
        max-width: 100%;
    }
    .button_guide
    {
        min-width: 70%;
        content: url(../img/milestone3/Buttons_movil.png);
    }
    .panel_guide
    {
        min-width: 100%;
    }
}
/* fin imagenes hito 3 */
@media screen and (max-width: 458px)
{
    .container{min-width: 100vw;}
}
@media screen and (max-width: 345px)
{
    li.nav{margin-right: 8px; margin-left: 8px;}
}

/* Para que no crezca mas de lo debido horizontalmente */
@media screen and (min-width: 1152px)
{
    .mainContent{max-width: 922px;}
    .container{max-width: 1152px;}
}

/* Inicio de Header */
.header{
    z-index: 1;
    min-width: 100vw;
    min-height: 72px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0px;
    margin-bottom: 32px;
}
.container {
    height: 100%;
    width: 75vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.myName{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 8px;
}
.navbar{
    padding: 8px;
    margin: auto 0;
}
.nav{
    margin-right: 16px;
    margin-left: 16px;
}
/* iconos */
.ic_Prop{
    width: 18px;
    /* border: 1px solid red; */
    position: relative;
    top: 1px;   
}
.ic0{content: url(../icons/home.svg);}
.ic1{content: url(../icons/mstone1.svg);}
.ic2{content: url(../icons/mstone2.svg);}
.ic3{content: url(../icons/mstone3.svg);}
/* Fin iconos */
.navbar li{
    list-style-type: none;
    display: inline-block;
}
.navMilestones{
    text-decoration: none;
    color: black;
}
/* Fin de Header */

/* Inicio de Cuerpo */
.cuerpo{
    /* border: 1px solid red; */
    width: 100vw;
    margin-top: 2rem;
    position:relative;
    top: 72px;
    display: flex;
    justify-content: center;   
}
.mainContent{
    /* border: 1px solid rgba(218, 218, 218, 0.5);  */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    border-radius: 2px;
}
.section{
    width: 100%;
    font-size: 1rem;
    text-align: left;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.first_title_temas{
    margin-bottom: 2rem;
    /* margin-top: 2rem; */
    font-weight: 600;
    text-align: center;
}
.first_title{
    margin-bottom: 0.5rem;
    /* margin-top: 2rem; */
    font-weight: 600;
    text-align: center;
}
.temas{
    font-weight: 400;
}
/* Imagenes del hito 3 */
.tipo_img{width: 35%; margin: 0 auto; margin-bottom: 2rem;}
.color_guide{
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.button_guide{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.panel_guide{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
/* FIn imagenes del hito 3 */
.secondary_section{
    margin-bottom: 1rem;
    font-weight: 500;
}

/* Presentando a user persona */
.alice_chris{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 32px;
}
.alice{
    width: 30%;
    margin-right: 5%;
}

.chris{
    width: 30%;
    margin-left: 5%;
}
/* Fin de presentacion  */

.ideaSolucion, .ideaSolucion ul{list-style: none; margin-left: 2rem; margin-bottom: 2rem;}
.point{font-weight: 600;}
.isid{margin-bottom: 0.5rem;}


.sec_title{
    margin-bottom: 1.2rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: center;
}
p{
    padding-bottom: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
}

/* Tabla de Stakeholders */
table{
    width: 40%;    
}
table tr th{
    padding-right: 6rem;
    font-weight: 500;
}
table tr td{
    font-weight: 300;
    font-size: 1.1rem;
}
/* Stakeholders */
#internal, #external{
    display: block;
    border-bottom: 2px solid rgb(167, 167, 167);
    margin-bottom: 8px;
}
/* Empieza el user investigation */
.intro_pregunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 8px auto;
}
.numero{
    font-size: 24px;
    color: rgba(138, 138, 138, 0.5); 
}
#linea{
    background-color: rgba(138, 138, 138, 0.3);
    border: 2px solid rgba(138, 138, 138, 0.1);
    border-radius: 2px;
    width: 20%;
}
.title_Explica{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* clasificatoria */
.clasification{
    padding-left: 1rem;
}
ul .li_rating{
    list-style-type: none;
    font-weight: 300;
}
.ratin{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px
}
.green{background: #34a853;}
.orange{background: #ff6d01;}
.red{background: #cc0000;}
.grey{background: #b7b7b7;}

.imagen_Question{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}
img{
    width: 100%;
}

/* Inicio del Footer */
footer{
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
    top: 74px;
    width: 60vw;
    max-height: 10vh;
}
.legal{
    text-align: center;
    padding: 1.5vh;
}
