@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&family=Roboto:wght@300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 470px)
{
    .mainContent{
        min-width: 100vw;
    }
}
@media screen and (min-width: 1152px)
{
    .mainContent{
        max-width: 922px;
    }
}

/* Inicio de Header */
.header{
    z-index: 1;
    min-width: 100vw;
    min-height: 72px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0px;
    margin-bottom: 32px;
}
.container {
    height: 100%;
    width: 75vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.myName{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 8px;
}
.navbar{
    padding: 8px;
}
.nav{
    margin-right: 16px;
    margin-left: 16px;
}
.navbar li{
    list-style-type: none;
    display: inline-block;
}
.navMilestones{
    text-decoration: none;
    color: black;
}
/* Fin de Header */

/* Inicio de Cuerpo */
.cuerpo{
    /* border: 1px solid red; */
    width: 100vw;
    margin-top: 2rem;
    position:relative;
    top: 72px;
    display: flex;
    justify-content: center;   
}
.mainContent{
    /* border: 1px solid rgba(218, 218, 218, 0.5);  */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    border-radius: 2px;
}
.present{
    font-size: 1.5rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 8px;
    margin: 0 auto;

}
.hi{
    display: block;
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}
/* Tarjetas */
.tarjetas{
    /* border: 1px solid red; */
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;

}
.hitos{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(218, 218, 218, 0.5);
    border-radius: 8px;
    width: 29%;
    margin: 1rem auto; 
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction:column;
    flex-basis: 267px;
    align-items: center;
    box-shadow: 0 0 5px rgba(19, 19, 19, 0.0);
    transition: all 0.2s;
}
.imagen{
    /* border: 1px solid green; */
    border-radius: 4px;
    width: 100%;
    height: 12rem;
    margin-bottom: 1rem;
    
}

img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 4px;
    /*width: 15rem;
    height: 13rem;
    margin-bottom: 1rem; */
}
.texto{
    /* border: 1px solid red; */
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.miles{
    font-weight: 700;
    margin-bottom: 8px;
}

/* Card Selection */
.hitos:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 16px rgba(19, 19, 19, 0.2);
}
/* Fin de cuerpo */

/* Inicio del Footer */
footer{
    position: relative;
    top: 115px;
    display: flex;
    justify-content: center;
}
